.form h2 {
    color: #888888;
    text-align: left;
    margin-bottom: 10px;
}
form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.input-book-title {
    width: 50%;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 0 7px;
}

.input-book-author {
    width: 20%;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 0 7px;
}
